<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EmiratesBooking">
<listeners>
 
 <listener class-name="utils.Listener"></listener>
 
 </listeners>
  <test  name="Test">
    <classes>
      <class name="runners.scenarioRunner"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
